@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

:root {
    --brightblue: #256eff;
    --emerald: #3ddc97;
    --cheeky: #e3655b;
    --oxford: #161b33;
    --tangerine: #f18806;
    --white: #fcfcfc;
}

* {
    box-sizing: borderbox;
    margin: 0;
    padding: 0;
    font-family: "Michroma";
}

body{
    background-color: var(--oxford);
}

h1 {
    font-size: 55px;
    font-weight:bold;
    padding: 25px;
    color: var(--oxford);
    -webkit-text-stroke: 25px, --oxford;
}

footer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container{
    display: flex;
    width: 100vh;
    align-items: center;
    background-color: var(--brightblue);
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px;
}

.button {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    color:var(--oxford);
    background-color: var(--emerald);
    font-size: 25px;
}

.button:hover{
    cursor:pointer;
    box-shadow: 0 0.2rem 1.4rem 0 #3ddc97;
    transition: transform 150ms;
    transform: scale(1.04);
}

@media (max-width: 700px) {
    .container{
        width: 70vh;
        height: 20vh;
        max-width: 40rem;
        font-size: 25px;
        flex-direction: row;
    }
h1{
    font-size: 25px;
}
.button{
    font-size: 15px;
    display: inline-flex;
    flex-direction:row;
    padding: 3px;
    margin: 2px;
}
    
}

@media (max-width: 500px) {
    .container{
        width: 25vh;
        height: 45vh;
        max-width: 40rem;
        font-size: 25px;
        flex-direction: column;

    }
    h1{
        font-size: 20px;
    }
    .button{
        font-size: 10px;
        display: inline-flex;
        flex-direction:row;
    }
}