
:root {
    --brightblue: #256eff;
    --emerald: #3ddc97;
    --cheeky: #e3655b;
    --oxford: #161b33;
    --tangerine: #f18806;
    --white: #fcfcfc;
}

* {
    box-sizing: borderbox;
    margin: 0;
    padding: 0;
    font-family: "Michroma";
}
h2{
    font-size: 55px;
    text-align: center;
    font-weight:bold;
    padding: 25px;
    color: var(--emerald);
    -webkit-text-stroke: 25px, --oxford;
}
input{
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}

.highscorepage{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 250px;
}
.finalscore{
    color:var(--emerald);
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 40px;
}
.username{
    color:var(--emerald);
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 40px;
}

.hs-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 10px;
    color:var(--oxford);
    background-color: var(--emerald);
    font-size: 25px;
}
.hs-button:hover{
    cursor:pointer;
    box-shadow: 0 0.2rem 1.4rem 0 #3ddc97;
    transition: transform 150ms;
    transform: scale(1.04);
}
